<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
    <section>
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">RSK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kadry
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/persons/byfirm">Kartoteki</a>
                                <a class="dropdown-item" href="#">Nieobecności</a>
                                <a class="dropdown-item" href="/kalendarz">Kalendarz</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Zmiany</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Płace
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Naliczenie</a>
                                <a class="dropdown-item" href="/payrolls/byfirm">Listy płac</a>
                                <a class="dropdown-item" href="#">Zestawienia</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Zmiany</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Księgowość
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Plan kont</a>
                                <a class="dropdown-item" href="#">Księgowanie</a>
                                <a class="dropdown-item" href="#">Przeglądy</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Zmiany</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Zestawienia
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Bilans</a>
                                <a class="dropdown-item" href="#">Syntetyka</a>
                                <a class="dropdown-item" href="#">Analityka</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Zmiany</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administracja
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/persons">Dane osób</a>
                                <a class="dropdown-item" href="/firms">Dane firm</a>
                                <a class="dropdown-item" href="/employments">Dane zatrudnienia</a>
                                <a class="dropdown-item" href="/payrolls">Dane list płac</a>
                                <a class="dropdown-item" href="#">Użytkownicy</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Zmiany OSOBY</a>
                                <a class="dropdown-item" href="#">Zmiany FIRMY</a>
                                <a class="dropdown-item" href="#">Zmiany ZATRUDNIENIA</a>
                                <a class="dropdown-item" href="#">Zmiany LIST PŁAC</a>
                                <a class="dropdown-item" href="#">Zmiany UŻYTKOWNICY</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">WYLOGUJ</a>
                        </li>
                    </ul>
                </div>
                <span class="navbar-text">Rachunkowość Stowarzyszeń Katarzyny</span>
            </nav>
        </header>
    </section>
    <br><br><br>
</div>
</html>