<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/head :: head"/>
<body>

<div th:replace="include/menu2 :: menu"/>

<section>
    <article>
        <div class="container">
            <p>
                Quem ad singulis quo do est noster iudicem e ad hic duis amet irure, in et
                summis arbitror. Incididunt an incurreret. Incurreret a anim. Iis eram multos
                multos incididunt ab enim arbitror voluptatibus. Laborum quid expetendis nescius
                id et quis probant. Pariatur dolor amet non quis, ex iis quorum irure lorem, in
                pariatur cohaerescant, ad et distinguantur. Deserunt iis nisi, hic nulla tamen
                dolore commodo.
            </p>
            <p>
                Quem ad singulis quo do est noster iudicem e ad hic duis amet irure, in et
                summis arbitror. Incididunt an incurreret. Incurreret a anim. Iis eram multos
                multos incididunt ab enim arbitror voluptatibus. Laborum quid expetendis nescius
                id et quis probant. Pariatur dolor amet non quis, ex iis quorum irure lorem, in
                pariatur cohaerescant, ad et distinguantur. Deserunt iis nisi, hic nulla tamen
                dolore commodo.
            </p>
            <p>
                Quem ad singulis quo do est noster iudicem e ad hic duis amet irure, in et
                summis arbitror. Incididunt an incurreret. Incurreret a anim. Iis eram multos
                multos incididunt ab enim arbitror voluptatibus. Laborum quid expetendis nescius
                id et quis probant. Pariatur dolor amet non quis, ex iis quorum irure lorem, in
                pariatur cohaerescant, ad et distinguantur. Deserunt iis nisi, hic nulla tamen
                dolore commodo.
            </p>
            <p>
                Quem ad singulis quo do est noster iudicem e ad hic duis amet irure, in et
                summis arbitror. Incididunt an incurreret. Incurreret a anim. Iis eram multos
                multos incididunt ab enim arbitror voluptatibus. Laborum quid expetendis nescius
                id et quis probant. Pariatur dolor amet non quis, ex iis quorum irure lorem, in
                pariatur cohaerescant, ad et distinguantur. Deserunt iis nisi, hic nulla tamen
                dolore commodo.
            </p>
            <p>
                Quem ad singulis quo do est noster iudicem e ad hic duis amet irure, in et
                summis arbitror. Incididunt an incurreret. Incurreret a anim. Iis eram multos
                multos incididunt ab enim arbitror voluptatibus. Laborum quid expetendis nescius
                id et quis probant. Pariatur dolor amet non quis, ex iis quorum irure lorem, in
                pariatur cohaerescant, ad et distinguantur. Deserunt iis nisi, hic nulla tamen
                dolore commodo.
            </p>
        </div>
    </article>
</section>
<div th:replace="include/footer2 :: footer"/>
</body>
</html>