<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/head :: head"/>
<body>

<div th:replace="include/menu2 :: menu"/>

<section>
    <article>
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="display-4" id="tytul">RSK - Rachunkowość Stowarzyszeń Katarzyny</div>
                    <h1>Zalogowano</h1>
                </div>
            </div>
        </div>
    </article>
</section>
<div th:replace="include/footer2 :: footer"/>
</body>
</html>