<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:replace="include/head :: head"/>

<body>

<div th:replace="include/menu :: menu"/>

<section>
    <article>
        <div class="container">
            <form action="#" th:action="@{/firms/update}"  th:object="${firm}" method="post">
                <div class="row">
                    <div class="form-group col">
                        <label for="inputPelnaNazwa">Pełna nazwa</label>
                        <input type="text" class="form-control" id="inputPelnaNazwa" th:field="*{fullName}"
                               placeholder="Wpisz pełną nazwę...">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputNazwa">Krótka nazwa</label>
                        <input type="text" class="form-control" id="inputNazwa" th:field="*{name}"
                               placeholder="Wpisz krótką nazwę...">
                    </div>
                    <div class="form-group col">
                        <label for="inputNip">NIP</label>
                        <input type="text" class="form-control" id="inputNip" th:field="*{nip}"
                               placeholder="Wpisz NIP...">
                    </div>
                    <div class="form-group col">
                        <label for="inputRegon">REGON</label>
                        <input type="text" class="form-control" id="inputRegon" th:field="*{regon}"
                               placeholder="Wpisz REGON...">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputUlica">Ulica</label>
                        <input type="text" class="form-control" id="inputUlica" th:field="*{street}"
                               placeholder="Wpisz ulicę...">
                    </div>
                    <div class="form-group col">
                        <label for="inputNrLokalu">Nr lokalu</label>
                        <input type="text" class="form-control" id="inputNrLokalu" th:field="*{placeNumber}"
                               placeholder="Wpisz nr lokalu...">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputKodPocztowy">Kod Pocztowy</label>
                        <input type="text" class="form-control" id="inputKodPocztowy" th:field="*{postalCode}"
                               placeholder="Wpisz kod pocztowy...">
                    </div>
                    <div class="form-group col">
                        <label for="inputMiejscowosc">Miejscowość</label>
                        <input type="text" class="form-control" id="inputMiejscowosc" th:field="*{post}"
                               placeholder="Wpisz miejscowość...">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputSkladkaWypadkowa">Składka wypadkowa</label>
                        <input type="text" class="form-control" id="inputSkladkaWypadkowa" th:field="*{accidentDues}"
                               placeholder="Wpisz wartość składki wypadkowej...">
                    </div>
                    <div class="form-group col">
                        <label for="inputSkladkaWypadkowaData">Data obowiązywania składki wypadkowej</label>
                        <input type="date" class="form-control" id="inputSkladkaWypadkowaData" th:field="*{accidentDuesDate}"
                               placeholder="Wpisz datę obowiązywania składki wypadkowej...">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">ZAPISZ</button>
            </form>
        </div>
    </article>
</section>

<div th:replace="include/footer :: footer"/>

</body>
</html>
