<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:replace="include/head :: head"/>

<body>

<div th:replace="include/menu :: menu"/>

<section>
    <article>
        <div class="container">
            <form action="/firms/add" th:object="${firm}" method="post" class="needs-validation" novalidate>
                <div th:each="err : ${#fields.detailedErrors('*')}" th:text=" ${err}" class="error"/>
                <div class="row">
                    <div class="form-group col">
                        <label for="validationCustom01">Pełna nazwa</label>
                        <input type="text" class="form-control" id="validationCustom01" th:field="*{fullName}"
                               placeholder="Wpisz pełną nazwę..." required>
                        <div class="valid-feedback">OK!</div>
                        <div class="invalid-feedback">Błąd pole wymagane!</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputNazwa">Krótka nazwa</label>
                        <input type="text" class="form-control" id="inputNazwa" th:field="*{name}"
                               placeholder="Wpisz krótką nazwę..." required>
                        <div class="valid-feedback">OK!</div>
                        <div class="invalid-feedback">Błąd pole wymagane!</div>
                    </div>
                    <div class="form-group col">
                        <label for="inputNip">NIP</label>
                        <input type="text" class="form-control" id="inputNip" th:field="*{nip}"
                               placeholder="Wpisz NIP..." required>
                        <div class="valid-feedback">OK!</div>
                        <div class="invalid-feedback">Błąd pole wymagane!</div>
                    </div>
                    <div class="form-group col">
                        <label for="inputRegon">REGON</label>
                        <input type="text" class="form-control" id="inputRegon" th:field="*{regon}"
                               placeholder="Wpisz REGON..." required>
                        <div class="valid-feedback">OK!</div>
                        <div class="invalid-feedback">Błąd pole wymagane!</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputUlica">Ulica</label>
                        <input type="text" class="form-control" id="inputUlica" th:field="*{street}"
                               placeholder="Wpisz ulicę...">
                    </div>
                    <div class="form-group col">
                        <label for="inputNrLokalu">Nr lokalu</label>
                        <input type="text" class="form-control" id="inputNrLokalu" th:field="*{placeNumber}"
                               placeholder="Wpisz nr lokalu..." required>
                        <div class="valid-feedback">OK!</div>
                        <div class="invalid-feedback">Błąd pole wymagane!</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputKodPocztowy">Kod Pocztowy</label>
                        <input type="text" class="form-control" id="inputKodPocztowy" th:field="*{postalCode}"
                               placeholder="Wpisz kod pocztowy..." required>
                        <div class="valid-feedback">OK!</div>
                        <div class="invalid-feedback">Błąd pole wymagane!</div>
                    </div>
                    <div class="form-group col">
                        <label for="inputMiejscowosc">Miejscowość</label>
                        <input type="text" class="form-control" id="inputMiejscowosc" th:field="*{post}"
                               placeholder="Wpisz miejscowość..." required>
                        <div class="valid-feedback">OK!</div>
                        <div class="invalid-feedback">Błąd pole wymagane!</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputSkladkaWypadkowa">Składka wypadkowa</label>
                        <input type="text" class="form-control" id="inputSkladkaWypadkowa" th:field="*{accidentDues}"
                               placeholder="Wpisz wartość składki wypadkowej...">
                    </div>
                    <div class="form-group col">
                        <label for="inputSkladkaWypadkowaData">Data obowiązywania składki wypadkowej</label>
                        <input type="date" class="form-control" id="inputSkladkaWypadkowaData" th:field="*{accidentDuesDate}"
                               placeholder="Wpisz datę obowiązywania składki wypadkowej...">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">ZAPISZ</button>
            </form>
        </div>
    </article>
</section>

<div th:replace="include/footer :: footer"/>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
