<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:replace="include/head :: head"/>

<body>

<div th:replace="include/menu :: menu"/>

<section>
    <article>
        <div class="container">
            <form action="#" th:action="@{/employments/update}" th:object="${employment}" method="post" class="needs-validation"
                  novalidate>
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{person}"/>
                <input type="hidden" th:field="*{firm}"/>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputImieiNazwisko">Imię i Nazwisko</label>
                        <input type="text" class="form-control" id="inputImieiNazwisko" placeholder="#"
                               th:placeholder="${employment.person.imie}+' '+${employment.person.nazwisko}" readonly>
                    </div>
                    <div class="form-group col">
                        <label for="inputTypUmowy">Typ umowy</label>
                        <input type="text" class="form-control" id="inputTypUmowy" placeholder="#"
                               th:placeholder="${employment.agreementType.description}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputStowarzyszenie">Nazwa stowarzyszenia</label>
                        <input type="text" class="form-control" id="inputStowarzyszenie"
                               placeholder="#" th:placeholder="${employment.firm.fullName}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 mb-3">
                        <label for="inputDataZatrudnienia">Data zatrudnienia</label>
                        <input type="date" class="form-control" id="inputDataZatrudnienia" th:field="*{hireDate}"
                               placeholder="Wpisz datę zatrudnienia..." required>
                        <div class="valid-feedback">OK!</div>
                        <div class="invalid-feedback">Błąd pole wymagane!</div>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="inputWynagrodzenie">Wynagrodzenie (format: 0000.00)</label>
                        <input type="text" class="form-control" id="inputWynagrodzenie" th:field="*{salary}"
                               placeholder="Wpisz wynagrodzenie..." required>
                        <div class="valid-feedback">OK!</div>
                        <div class="invalid-feedback">Błąd pole wymagane!</div>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="inputDataZakonczeniaUmowy">Data zakończenia umowy</label>
                        <input type="date" class="form-control" id="inputDataZakonczeniaUmowy" th:field="*{hireEndDate}"
                               placeholder="Wpisz date zakończenia umowy...">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">ZAPISZ</button>
            </form>
        </div>
    </article>
</section>

<div th:replace="include/footer :: footer"/>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
